.Button{
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff20;
    cursor: pointer;
    user-select: none;
}
.Button:hover{
    background-color: #005800;
}
.Button:active{
    background-color: #003900;
}
.Active{
    background-color: rgba(55, 255, 55, 0.29);
}
