.Profile{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.profilePhoto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
.profilePhoto:active{
    filter: brightness(0.8);
}
.profilePhoto:hover{
    filter: brightness(0.9);
}

.Subscribe{
    width: 115px;
    text-align: center;
}
.myProfileButton{
    width: fit-content;
    margin: 5px;
}
.buttonsBlock{
    display: flex;
    align-items: center;
}
