.back{
    
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.image{
    filter:brightness(0.8);
}
.gradient{
    background-image: linear-gradient(to right, #00000050, transparent,transparent, transparent,#00000050);
}
.backBlock{
    z-index: 0;
    position: absolute;
    width: 60%;
    height: fit-content;
    min-height: 100vh;
    padding: 0 15px 20px 0;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    backdrop-filter: brightness(0.7)blur(3px);
}

@media screen and (max-width: 800px){
    .backBlock{
        width: 95%;
    }
}