.Button{
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff20;
    cursor: pointer;
    user-select: none;
}
.Button:hover{
    background-color: #005800;
}
.Button:active{
    background-color: #003900;
}
.Active{
    background-color: rgba(55, 255, 55, 0.29);
}
.ruler{
    background-image: url("../assets/images/ruler.png");
    background-repeat: repeat-x;
    animation: 1s ruler infinite linear forwards;
    background-color: #ffffff20!important;
    cursor: unset;
}
@keyframes ruler {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}