.checkbox {
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    &:hover:before{
         background-color: rgb(22, 108, 22);
     }
    &:hover:checked:before{
        background-color: #4d794d;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0px;
        left: 0px;
        transform: translate(-15%,-15%);
        background-color:#333333;
        border-radius: 5px;
    }
    &:checked:before {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0px;
        left: 0px;
        transform: translate(-15%,-15%);
        background-color: #003900;
    }
    &:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 3px;
        left: 6.5px;
    }
}