.Button{
    color: white;
    cursor: pointer;
    align-items: center;
    background-color: #ffffff20;
    padding: 10px 20px;
    user-select: none;
    &:hover{
         background-color: #005800;
     }
    &:active{
        background-color: #003900;
    }
    &.active{
        background-color: rgba(51, 255, 51, 0.22);
    }
    &.active:hover{
        background-color: #007400;
    }
}
.LikeInner{
    display:flex;
    align-items: center;
    justify-content: center;
}
.LikeImage{
    display: inline-block;
    filter: invert(1);
    width: 15px;
    height: 15px;
    margin-left: 10px;
    transform: translate(0%,8%);
}
.LikesCounter{
    display: inline-block;
}
