.Api{
    width: 700px;
    background-color: black;
    grid-area: c;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.Name{
    display: flex;
    justify-content: space-between;
}
.Navigation{
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
    margin-bottom: 0px;
}
.Next{
    margin-left: 0px!important;
}
.Back{
    margin-left: 0px!important;
}
.Digit{
    width: 45px;
    height: 45px;
    text-align: center;
    margin-left: 0px!important;
}
.Next,.Back,.Digit{
    margin-bottom: 0!important;
}
.NameList{

}
.spinner {
    width: 120px;
    height: 120px;
    margin: 20px;
    opacity: 50%;
}
.NameButton {
    width: 500px;
    margin: 0px 0px 10px 0px!important;
}
.Subscribe{
    width: 110px;
    margin: 0px 0px 10px 0px!important;
    text-align: center;
}
.Avatar{
    height: 44px;
    width: 44px;
    border-radius: 50%;
}