.EditProfile{
    padding: 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.profilePhoto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
.profilePhoto:active{
    filter: brightness(0.85);
}
.info{
    margin: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.apply{
    width: fit-content;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
}
.buttonsBlock{
    display: flex;
    align-items: center;
}
.saved{
    padding: 10px;
    animation: save 2s linear forwards;
}
.statusInputBlock{
    display: inline-block;
}
.statusInput{
    width: 300px;
    margin: 0 20px;
}
@keyframes save {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}