.Forum{
  grid-area: c;
  display: grid;
  grid-template-areas:
  "nf cf";
  grid-template-rows: 605px;
  grid-template-columns: 300px 700px;
  grid-gap: 10px;
  
}
.NavForum{
  background-color: black;
  grid-area: nf;
}
.ContentForum{
  grid-area: cf;
}