.Header{
    grid-area: h;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.leftSide,.rightSide{
    display: flex;

}
.Back{
    padding: 10px 20px;
}
.AuthButton{
    align-self: center;
}
.logoOuter{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    &:hover{
        padding-right: 10px;
        transition: 0.5s;
    }
}
.logo{
    filter: brightness(0.5);
    height: 80%;
    width: 60px;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    transition: 0.5s;
    &:hover{
        filter: brightness(1);
        transition: 0.5s;
    }
}