
.item:hover{
    background-color: #005800;
}
.item:active{
    background-color: #003900;
}
.item{
    border-radius: 5px;
    box-sizing : border-box;
    overflow: hidden;
    width: 300px;
    height: 400px;
    cursor: pointer;
    display:inline-block;
    margin:10px;
    
}
.item img{
    object-fit: cover;
    width: 300px;
    height: 200px;
    object-position: 0% 80%;
}
.item>div
{
    margin: 12px;
}
.name{
    font-weight: bold;
    font-size: 20px;
}
.descr{
    margin-top:15px;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.descr:after{
    background: linear-gradient(to bottom, transparent, black);
    position: absolute;
    width: 100%;
    height: 100%;
}
.span{
    height: 40px;
    width: 100%;
    display: block;
}