.Login{
    width: 419px;
    height: border-box;

}
.authInput{
    display: block;
    border-radius: 5px;
    padding: 10px;
    background-color: #222222;
    color: white;
    border: 0px;
    outline: none;
    width: 400px;
    margin: 0 10px;
}

.lastLine{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}
.LoginForm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.header{
    padding: 10px;
    margin-bottom: 20px;
}