.Login{
    height: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authInput{
    display: block;
    border-radius: 5px;
    color: white;
    border: 0;
    outline: none;
    width: 95%;
    margin: 0 10px!important;
}
.RegAuth{
    display: flex;
}
.lastLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
}
.fetchingShield{
    opacity: 0.5;
    pointer-events: none;
}
.rememberMe{
    margin: 10px;
}
.LoginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}
.header{
    padding: 10px;
}
.captcha{
    margin-left: 20px;
}
@media (max-width: 768px){
    .lastLine{
        flex-direction: column;
        gap: 0;
    }
}