body{
  overflow-x: hidden;
  overflow-y: scroll;
}
.grid { 
  margin: 10px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
  width: 900px;
  height: 98%;
  /*transform: translate(-75%, 0);*/

  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 80px 605px;
  grid-template-columns: 175px 80%;
  grid-gap: 10px;
}
a, NavLink, a:hover, a:focus{
  text-decoration: none!important;
  color: white;
}
.content{
  grid-area: c;
}
.backgroundBlock{
  background-color: #222222;
  border-radius: 5px;
}

::-webkit-scrollbar {
	background-color: black;
}
::-webkit-scrollbar-thumb {
	background-color: #ffffff40;
}
.CenterPreloader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
