
.grid { 
  margin: 10px;
  position: absolute;
  width: 99%;
  /*transform: translate(-75%, 0);*/

  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 80px 605px;
  grid-template-columns: 175px 80%;
  grid-gap: 10px;
}
a, NavLink, a:hover, a:focus{
  text-decoration: none!important;
  color: white;
}
.content{
  grid-area: c;
}
.backgroundBlock{
  background-color: black;
  border-radius: 5px;
}
input{
  border-radius: 5px;
  padding: 10px;
  background-color: #222222;
  color: white;
  border: 0px;
  outline: none;
}

::-webkit-scrollbar {
	background-color: black;
  overflow-y: hidden;
}
::-webkit-scrollbar-thumb {
	background-color: #ffffff40;
}
